.card {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #aaa;
  border: 1px solid #fff;

  .container {
    width: 200px;
    height: 200px;
  }

  &.is-selected {
    background-color: #333;
    img {
      display: block;
    }
  }

  &.is-matched {
    background-color: #6a8455;
    img {
      display: block;
    }
  }

  img {
    display: none;
    width: 150px;
    max-height: 150px;
    margin: 25px;
  }
}

