.card {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #aaa;
  border: 1px solid #fff;

  &.is-selected {
    background-color: #333;
  }

  &.is-matched {
    background-color: #6a8455;
  }

  img {
    width: 150px;
    max-height: 150px;
    margin: 25px;
  }
}

